@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@400;600;700;800&display=swap");


/* ----- Sección principal ----- */
.hero-section {
    position: relative;
    width: 100%;
    height: 105vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
    overflow: hidden;

    background-image: url('/img/hero_bg.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Capa oscura */
.hero-section::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.35);
    z-index: 1;
}

/* CONTENIDO */
.hero-content {
    position: relative;
    z-index: 2;
    max-width: 900px;
    color: #fff;
    font-family: "Poppins", sans-serif;
}

.hero-content h1 {
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 12px;
    line-height: 1.2;
}

.hero-content p {
    font-size: 18px;
    line-height: 1.9em;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 32px;
    color: #f5f5f5;
}

/* BOTÓN */
.hero-btn {
    padding: 15px 38px;
    background: #22D3EE;
    color: #000;
    font-weight: 600;
    border-radius: 10px;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s ease;
}

.hero-btn:hover {
    background: #0fbcd4;
    transform: translateY(-4px);
}

/* ----- RESPONSIVE ----- */
@media (max-width: 992px) {
    .hero-content h1 {
        font-size: 3rem;
    }
}

@media (max-width: 768px) {
    .hero-content h1 {
        font-size: 2.5rem;
    }

    /* CENTRAR EN MÓVIL */
    .hero-content {
        text-align: center;
        margin: 0 auto;
    }
}

@media (max-width: 500px) {
    .hero-content h1 {
        font-size: 2rem;
    }

    .hero-btn {
        padding: 12px 28px;
        font-size: 1rem;
    }

    /* Más centrado aún en pantallas pequeñas */
    .hero-content {
        max-width: 90%;
    }
}

