/* =========================================
   VARIABLES Y RESET
   ========================================= */
:root {
    --color-principal: #101111;
    --color-acento: #22D3EE;
    --color-hover: #25cfe9;
    --text-white: #ffffff;
    --bg-dark: #000000;
    --bg-card: #050505;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: var(--bg-dark);
    color: var(--text-white);
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.bg-gradient-tech {
    background: radial-gradient(circle at 50% 50%, rgba(34, 211, 238, 0.05) 0%, rgba(16, 17, 17, 1) 100%);
}

.text-accent { color: var(--color-acento); }

/* =========================================
   HEADER
   ========================================= */
.main-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background: rgba(16, 17, 17, 0.85);
    backdrop-filter: blur(12px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.header-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 10px;
}

.logo-icon-container img { height: 40px; }
.logo-text-adu { color: var(--text-white); font-weight: 700; font-size: 1.5rem; }
.logo-text-cloud { color: var(--color-acento); font-weight: 700; font-size: 1.5rem; }

.nav-list { display: flex; list-style: none; gap: 2rem; }
.nav-link {
    color: var(--text-white);
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 1px;
    transition: 0.3s;
}
.nav-link:hover { color: var(--color-acento); }

/* =========================================
  FOOTER
   ========================================= */
.main-footer {
    padding: 50px;
    text-align: center;
    border-top: 1px solid rgba(255,255,255,0.05);
    color: #ffffff;
    font-size: 0.9rem;
}
